<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="../static/sign_up_styles.css">
</head>
<body>
    <div class="header">VK</div>
    <form method="post" class="container">
       <div class="input name">
        <h4>Name</h4>
        <input class="text"id="name" name="name" type="text">
       </div>
      <div class="input email">
        <h4>E-mail</h4>
        <input class="text" id="email" name="email"type="email">
      </div>
      <input type="submit" href="index.html">

    </form>
</body>
</html>